body {
    box-sizing: border-box;
}

.formcontainer {
    margin: 10px;
    display: flex;
    justify-content: center;
    width: 800px;
}

label {
    display: block;
}

input,
textarea,
.phone {
    width: 100%;
}

.fullname {
    display: flex;
    flex-direction: row
}

.firstname {
    width: 50%;
}

.lastname {
    width: 50%;
}

.countrystate {
    display: flex;
    flex-direction: row;

}

.ship {
    display: flex;
    flex-direction: row;
}

.textship {
    padding-left: 20px;
    flex-shrink: 0;
    width: 100%;
}

.payment {}

.address {
    width: 100%;
}

.country {
    width: 50%;
}

.state {
    width: 300px;
}