p {
    color: red;
}

div {
    color: blue;
}

p:nth-child(3) {
    color: black;
}

h1,
p,
ul li {
    color: red;
    text-shadow: 1px 1px 1px black;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1));
    padding: 3px;
    text-align: center;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(255, 255, 255, 0.5);
}

.first {
    font-weight: bold;
    text-decoration: line-through;
}

.done {
    text-decoration: line-through;
}